# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
*.egg

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
backend/.env.*
backend/.env

# Node
node_modules/
.next/
out/
frontend/.env.local
frontend/.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode
.vscode/settings.json
.idea/

# Docker
*.pid

# other files
product_images/
output_results.xlsx
vercel.json